<td>{{id}}</td>
<td>{{nom}}</td>
<td>{{status}}</td>
<td>
  <button
    class="btn btn-outline-dark mx-2"
    (click)="onClickSwitchStatus()"
  >Basculer en {{nextStatus | uppercase}}</button>

  <button
    [routerLink]="['/produits', id]"
    class="btn btn-primary me-2"
  >Detail</button>

  <button
    [routerLink]="['/produits', id, 'edit']"
    class="btn btn-success me-2"
  >Editer</button>

  <button
    (click)="onClickDeleteProduct()"
    class="btn btn-danger"
  >Delete</button>
</td>
